.body {
  margin: 0%;
  padding: 0%;
  background-color: #f2f2f2;
  
  
}

.nav {
  display: block;
}

#footer {
  
  margin-left: 400px;
  padding-top: 1300px;
}
#Navbar {

  top: 0px;
  left: 0px;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 10%;
}
#Navbar:hover {
  background-color: beige;
  transition: ease-in 1s;
}

a {
  
  height: 30px;
  padding: 10px 0 10px 35px;
  text-decoration: none;
  font-size: 18px;
  color: #000000;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 200;
}


a:nth-child(2) {
  padding: 10px 0 10px 30px;
}
a:nth-child(3) {
  padding: 10px 0 10px 20px;
}
a:hover {
  
  transition: ease-in 0.8s;
  background-color: rgb(236, 204, 18);
  
}
#Content {
  padding-left: 116px;
  display: flex;
  flex-wrap: wrap;

 
}
#Content > img {
  
  flex: 50%;
  width: 50%;
}