body {
    font-family: sohne-var, "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    margin: 0;
    padding: 0;
    width: 100%;
    
  }
  .green {
    background: #66ff99;
  }
  
  .stripe {
    
      font-family: sohne-var, "Helvetica Neue", Arial, sans-serif;
      font-weight: 800;
      font-size:4rem;
      color: #ffffff;
      position:absolute;
      padding: 2rem;
      top:0px;
      z-index:100;
      text-align:center;
      width:100%;
      mix-blend-mode: difference;
  }
  
  .orange {
    background: #f17c57fa;
  }
  
  .blue {
    background: #3652d9;
  }
  
  .rose {
    background: #ff66cc;
  }
  
  
  
  .circle {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    box-shadow: 0px 0px 1px 1px #0000001a;
  }
  
  .pulse {
    margin-left: 20px;
    width: 90px;
    animation: pulse-animation 2s infinite;
  }
  @keyframes pulse-animation {
    0% {
      box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    }
    100% {
      box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
    }
  }
  
  @media (max-width: 900px) {
    .master {
      display: none;
    }
  }
  
  ul {
    
    height: 60px;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  li {
    transform: translateY(-600px);
    padding: 40px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    font-style: oblique;
    font-family: sohne-var, "Helvetica Neue", Arial, sans-serif;
    margin-top: 20px;
  
    display: inline-block;
    height: 40px;
    width: 70px;
    margin-left: 0px;
  }
  .container {
    width: 100%;
    height: 2800px;
    display: flex;
    flex-direction: column;
    transform: translateY(-300px); 
  }
  nav ul li a,
  nav ul li a:after,
  nav ul li a:before {
    transition: all 0.5s;
  }
  nav ul li a:hover {
    color: rgb(130, 209, 28);
  }
  nav.stroke ul li a {
    position: relative;
  }
  nav.stroke ul li a:after {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    margin: auto;
    width: 1%;
    content: ".";
    color: transparent;
    background: rgb(209, 17, 17);
    height: 2px;
  }
  nav.stroke ul li a:hover:after {
    width: 100%;
  }
  
  #Home {
    padding-left: 140px;
  }
  
  #Contact {
    margin-right: 340px;
  }
  a {
    text-decoration: none;
  }
  
  .color {
    background-color: #333;
    color: black;
  }
  button {
    background-color: black;
    color: yellow;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    margin-left: 650px;
  }
  .rainbow_text_animated:nth-child(1) {
    letter-spacing: 5px;
    font-size: 50px;
    font-family: sohne-var, "Helvetica Neue", Arial, sans-serif;
    font-weight: 500;
    font-size: 94px;
    opacity: 0.80000001192092896;
    margin-left: 200px;
    width: 640px;
    margin-right: 0px;
  }
  #shadowBox {
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.2);
    /* Black w/opacity/see-through */
    border: 3px solid;
  }
  
  .rainbow_text_animated {
    background: linear-gradient(
      to right,
      #6666ff,
      #0099ff,
      #00ff00,
      #ff3399,
      #6666ff
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
  }
  
  @keyframes rainbow_animation {
    0%,
    100% {
      background-position: 0 0;
    }
  
    50% {
      background-position: 100% 0;
    }
  }
  
  .card {
    color: #0a0a09;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
    width: 35%;
    height: 400px;
    text-align: center;
  }
  .c2::after,
  .c2::before {
    content: "";
    background: black;
    position: absolute;
  }
  
  .c2:hover:after {
    width: 100%;
    height: 20px;
    left: 10px;
    bottom: 0;
    transform: translatey(100%) skewx(45deg);
  }
  .c2:hover:before {
    width: 20px;
    height: 100%;
    right: 0;
  
    transform: translatex(100%) skewy(45deg);
    top: 10px;
  }
  
  .c3::after,
  .c3::before {
    content: "";
    background: black;
    position: absolute;
  }
  
  .c3:hover:after {
    width: 100%;
    height: 20px;
    left: 10px;
    bottom: 0;
    transform: translatey(100%) skewx(45deg);
  }
  .c3:hover:before {
    width: 20px;
    height: 100%;
    right: 0;
  
    transform: translatex(100%) skewy(45deg);
    top: 10px;
  }
  
  .c4::after,
  .c4::before {
    content: "";
    background: black;
    position: absolute;
  }
  
  .c4:hover:after {
    width: 100%;
    height: 20px;
    left: 10px;
    bottom: 0;
    transform: translatey(100%) skewx(45deg);
  }
  .c4:hover:before {
    width: 20px;
    height: 100%;
    right: 0;
  
    transform: translatex(100%) skewy(45deg);
    top: 10px;
  }
  
  .c5::after,
  .c5::before {
    content: "";
    background: black;
    position: absolute;
  }
  
  .c5:hover:after {
    width: 100%;
    height: 20px;
    left: 10px;
    bottom: 0;
    transform: translatey(100%) skewx(45deg);
  }
  .c5:hover:before {
    width: 20px;
    height: 100%;
    right: 0;
  
    transform: translatex(100%) skewy(45deg);
    top: 10px;
  }
  
  .c6::after,
  .c6::before {
    content: "";
    background: black;
    position: absolute;
  }
  
  .c6:hover:after {
    width: 100%;
    height: 20px;
    left: 10px;
    bottom: 0;
    transform: translatey(100%) skewx(45deg);
  }
  .c6:hover:before {
    width: 20px;
    height: 100%;
    right: 0;
  
    transform: translatex(100%) skewy(45deg);
    top: 10px;
  }
  
  .c7::after,
  .c7::before {
    content: "";
    background: black;
    position: absolute;
  }
  
  .c7:hover:after {
    width: 100%;
    height: 20px;
    left: 10px;
    bottom: 0;
    transform: translatey(100%) skewx(45deg);
  }
  .c7:hover:before {
    width: 20px;
    height: 100%;
    right: 0;
  
    transform: translatex(100%) skewy(45deg);
    top: 10px;
  }
  .c8::after,
  .c8::before {
    content: "";
    background: black;
    position: absolute;
  }
  
  .c8:hover:after {
    width: 100%;
    height: 20px;
    left: 10px;
    bottom: 0;
    transform: translatey(100%) skewx(45deg);
  }
  .c8:hover:before {
    width: 20px;
    height: 100%;
    right: 0;
  
    transform: translatex(100%) skewy(45deg);
    top: 10px;
  }
  
  .c9::after,
  .c9::before {
    content: "";
    background: black;
    position: absolute;
  }
  
  .c9:hover:after {
    width: 100%;
    height: 20px;
    left: 10px;
    bottom: 0;
    transform: translatey(100%) skewx(45deg);
  }
  .c9:hover:before {
    width: 20px;
    height: 100%;
    right: 0;
  
    transform: translatex(100%) skewy(45deg);
    top: 10px;
  }
  
  .c10::after,
  .c10::before {
    content: "";
    background: black;
    position: absolute;
  }
  
  .c10:hover:after {
    width: 100%;
    height: 20px;
    left: 10px;
    bottom: 0;
    transform: translatey(100%) skewx(45deg);
  }
  .c10:hover:before {
    width: 20px;
    height: 100%;
    right: 0;
  
    transform: translatex(100%) skewy(45deg);
    top: 10px;
  }
  
  
  
  
  
  
  
  
  
  
  .c11::after,
  .c11::before {
    content: "";
    background: black;
    position: absolute;
  }
  
  .c11:hover:after {
    width: 100%;
    height: 20px;
    left: 10px;
    bottom: 0;
    transform: translatey(100%) skewx(45deg);
  }
  .c11:hover:before {
    width: 20px;
    height: 100%;
    right: 0;
  
    transform: translatex(100%) skewy(45deg);
    top: 10px;
  }
  
  .front > img {
    border-radius: 20px;
    height: auto;
  }
  
  iframe {
    border: 20px solid #333;
    height: 1000px;
    width: 100%;
  }
  #jumper {
    width: 90px;
    height: 90px;
    margin-left: 350px;
    color: chartreuse;
    background-color: blueviolet;
    border-radius: 5px;
  }
  footer {
    background-color: black;
    color: chartreuse;
    text-align: center;
    font-size: 1.5rem;
  
    height: 40px;
  }
  
  @media (min-width: 1190px) {
    .c2 {
      transform: translateY(400px);
      margin-left: 730px;
    }
    .c3 {
      transform: translateY(-65px);
      margin-left: 30px;
    }
    .c4 {
      transform: translateY(-35px);
      margin-left: 730px;
    }
    .c5 {
      transform: translateY(-490px);
      margin-left: 30px;
    }
    .c6 {
      transform: translateY(-445px);
      margin-left: 730px;
    }
    .c7 {
      transform: translateY(-900px);
      margin-left: 30px;
    }
    .c8 {
      transform: translateY(-885px);
      margin-left: 730px;
    }
    .c9 {
      transform: translateY(-1340px);
      margin-left: 30px;
    }
    .c10 {
      transform: translateY(-1250px);
      margin-left: 730px;
    }
    .c11 {
      transform: translateY(-1700px);
      margin-left: 30px;
    }
    .c13 {
      transform: translateY (20px);
    }
  }
  @media (max-width: 768px) {
    body {
      background-color: #f5f5f5;
    }
    #jumper {
      margin-left: 200px;
    }
    ul {
      display: none;
    }
    .card {
      display: flex;
      flex-direction: column;
      width: 60%;
      height: auto;
      justify-content: center;
  
      background-color: black;
      border-radius: 60px;
      margin: 5rem;
    }
    .front > img {
      width: 100%;
      border-radius: 20px;
      height: auto;
    }
    .back > h1 {
      font-size: 1.4rem;
      font-weight: bold;
      text-align: center;
    }
    .back > p {
      font-size: 1.2rem;
      text-align: center;
    }
    #H1 {
      font-style: oblique;
      font-size: 2rem;
      margin-top: 40px;
      padding-left: 0px;
    }
    #Animepahe {
      font-size: 0.9rem;
      font-style: oblique;
      padding-left: 40px;
    }
    iframe {
      width: 95%;
      margin-top: 0;
      margin-left: 0px;
      border-radius: 20px;
    }
    footer {
      background-color: black;
      color: chartreuse;
      text-align: center;
      font-size: 1.5rem;
  
      height: 40px;
      margin-left: 0px;
    }
  }
  